* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    width: 1920px;
    height: 1080px;
    background-image: url(img/background_header.png);
}

img.logo {
    margin-left: 175px;
    margin-top: -25px;
}

.textarea {
    margin-top: 222px;
    margin-left: 190px;
    margin-bottom: 80px;
    line-height: 1.5;
}

.textarea__small {
    font-family: Roboto;
    color: #44a09b;
    font-size: 34px;
    padding-top: 0.5em;
}

.textarea__big {
    font-family: Roboto;
    font-size: 55px;
    padding-top: 0.5em;
}

.button_area {
    background-color: white;
    width: 825px;
    height: 212px;
    margin-left: 0;
    margin-bottom: 185px;
    font-family: Roboto;
    font-size: 30px;
    margin-top: 80px;
    border-radius: 0 100px 100px 0;
}

.register__button {
    height: 65px;
    width: 494px;
    line-height: 65px;
    font-family: Roboto;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    background-color: #ff8141;
    color: white;
    left: 190px;
    position: relative;
    bottom: -65px;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.register__date {
    position: relative;
    font-family: Roboto;
    left: 190px;
    top: 50px;
    color: #ff8141;
}

.scroll__down {
    height: 30px;
    bottom: 150px;
    text-transform: uppercase;
    color: white;
    position: relative;
    left: 897px;
}

.triangle {
    margin-top: 12px;
    position: relative;
    left: 30px;
}

h2 {
    font-size: 32px;
    font-weight: normal;
    font-family: Roboto;
    margin-top: 190px;
    margin-left: 131px;
    text-transform: uppercase;
    color: #3a4a62;
}

li {
    font-family: Roboto;
    margin-left: 131px;
    margin-bottom: 20px;
    font-weight: normal;
}

li.heart {
    margin-top: 30px;
    font-family: Roboto;
}

ul {
    margin-top: 45px;
    font-family: Roboto;
}

.register_button {
    height: 65px;
    width: 494px;
    line-height: 65px;
    font-family: Roboto;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    background-color: #ff8141;
    color: white;
    left: 131px;
    position: relative;
    bottom: -65px;
    text-decoration: none;
}

.container {
    width: 1920px;
    height: 914px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left__play {
    background-image: url(img/play.png);
    background-size: auto auto;
    top: 0;
    left: 0;
    width: 1085px;
}

img.left__play__trianglon {
    margin-left: 448px;
    margin-top: 381px;
}

img.left__play__arrow {
    position: relative;
    top: 85px;
    left: -50px;
}

img.left__play__webinar {
    position: relative;
    top: 161px;
    left: -45px;
}

.right__text {
    top: 0;
    right: 0;
    width: 835px;
}

.footer {
    width: 1920px;
    height: 205px;
    background-color: #273d50
}

.footer__text {
    font-family: Roboto;
    font-size: 55px;
    color: white;
    text-transform: uppercase;
    top: 85px;
    left: 465px;
    position: relative;
}

